body {
  font-family: "Lato";
  margin: 0;
  /* background-image: url(header-bg.svg); */
  /* background-size: cover;
  background-position: top; */
  height: 200px;
  background-repeat: no-repeat;
  --primary-color: #5abdca;
  --secondary-color: #313131;
}

b {
  font-weight: 300;
}

img.logo {
  height: 18px;
  margin: 4px;
  animation: rotate 40s infinite linear;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a.link__home {
  display: flex;
  align-items: end;
  color: white;
  font-size: 18px;
}

a.button {
  color: black;
  background: #5abdca;
  padding: 16px 30px;
  border-radius: 50px;
  width: 100px;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 229;
}

header {
  margin-bottom: 160px;
  position: relative;
}

footer {
  background-image: url(footer-bg.svg);
  background-size: cover;
  height: 80px;
  padding-top: 220px;
  background-position: top;
  color: white;
  text-align: center;
  display: block;
}

header nav {
  width: 222px;
}
header nav a {
  color: white;
  margin: 0 10px;
}

footer a {
  margin: 10px;
  color: white;
}

header a:not(.link__home):hover,
footer a:hover {
  color: var(--secondary-color);
  text-decoration: underline dashed;
}

footer nav {
  margin: 10px;
}

footer nav a {
  margin: 10px;
  color: var(--secondary-color);
}

footer nav a:hover {
  text-decoration: underline dashed;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

main h1 {
  font-weight: lighter;
  align-items: center;
  font-size: 3em;
}

main h2 {
  font-weight: lighter;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  font-size: 6em;
  margin: 0;
}

main h2 img.logo {
  width: 78px;
  height: 68px;
  margin: 4px;
}

main div.code-editor {
  background: #272822;
  min-width: 340px;
  width: 60vw;
  border-radius: 4px;
  box-shadow: 0 0 13px -3px black;
  color: #cacaca;
  text-align: left;
  margin: 40px 0;
  padding-bottom: 18px;
  max-width: 460px;
}

main div.code-editor-header {
  text-align: center;
  position: relative;
  padding: 5px;
  background: #191a15;
  border-radius: 4px 4px 0 0;
}
main div.code-editor-header span.close-icons {
  display: inline-block;
  width: 150px;
  height: 20px;
  text-align: left;
  position: absolute;
  left: 5px;
}
main div.code-editor-header span.close-icons i {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #e0c04b;
  border-radius: 50%;
  margin: 0 4px;
}
main div.code-editor-header span.close-icons i:first-child {
  background: #ed655a;
}
main div.code-editor-header span.close-icons i:last-child {
  background: #72be47;
}

main div.code-editor p {
  margin: 20px;
  font-family: monospace;
  font-size: 16px;
}
code span {
  font-size: 16px;
}

main div.code-editor p span b {
  color: white;
}

span.typed-cursor {
  margin: 0;
  padding: 0;
}
section {
  padding: 0px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article {
  margin: 50px 0;
}
article h2 {
  font-weight: lighter;
  text-align: left;
}

article img {
  width: 30vw;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* SVG */
path.a {
  fill: #4398a8;
  opacity: 0.53;
}
path.b {
  fill: #5abdca;
}
path.c {
  fill: #57b8c6;
  opacity: 0.53;
}
svg {
  width: 100%;
  overflow: visible;
  position: absolute;
  top: 0;
  z-index: 0;
}

.wave-1 {
  animation: wave-1 10s ease-in-out infinite alternate;
}
.wave-2 {
  animation: wave-2 20s ease-in-out infinite alternate;
}
.wave-3 {
  animation: wave-3 10s ease-in-out infinite;
}

@keyframes wave-1 {
  to {
    transform: translateY(80px) translateX(-260px);
  }
}
@keyframes wave-2 {
  to {
    transform: translateY(40px) translateX(-67px);
  }
}
@keyframes wave-3 {
  from {
    transform: translateY(60px) translateX(-67px);
  }
  50% {
    transform: translateY(40px) translateX(-67px);
  }
  to {
    transform: translateY(60px) translateX(-67px);
  }
}
